/*generales*/

h1, h2, h3, h5, h6 {
    font-size: 2rem;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
    opacity: 0.6;
    border-bottom: 1px solid white;
}

.tecno{
    color: gold;
    font-size: 2.5rem;
}


body{
    font-family: 'Oswald', sans-serif;
font-size: 1.5rem;
background-color: black;
font-weight: 300;
}
/*nav*/

.bg-dark{
    background-color: black !important;
}

.navbar{
    min-height: 5rem;
    padding: 0 2rem;
    box-shadow: 2px 2px 5px white;
}

.navbar-brand{
    font-size: 2rem;
    text-transform: uppercase;
}

.navbar-brand:hover {
    opacity: 0.6;
}

.nav-link{
    color: white !important;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.nav-link:hover {
    opacity: 0.6;
}

section {
    padding: 4rem 0;
}

#carrusel {
    margin-top: -50rem;
}

.contenedor {
    padding-left: 3rem;
    padding-right: 0%;
}

.bg-light{
    text-align: center;
    font-size: 2;
    color:black;
}

.productos{
    color: white;
    opacity: 0.8;
}

.texto-central {
    color: white;
    text-align: center;
    margin-top: 2rem;
    font-size: 2.5rem;
}

.texto-producto {
    color:black ;
    background-color: white;
}
.texto-producto:hover {
    opacity: 0.8;
    color: gray;
}

.ver-mas{
    font-size: 2.8rem;

}

.sobre-nosotros{
    color: black;
    font-weight: 400;
}

.blog-info { 
    bottom: 0.3rem;
}

.span{
    font-weight: 400;
    color:gold;
    border: 1px solid white;
    opacity: 0.8;
    background: white;
}

.ubicacion {
    font-size: 2rem;
    color:gold;

}

.cede{
    border: 1px solid gray;
    background-color: white;
    opacity: 0.8;
    margin-right: 1rem;
    margin-left: 0.6rem;
}

button {
    background-color:black; 
    color: white; 
    box-shadow: 1px 1px 1px white;
    font-weight: 300;
    text-transform: uppercase;
}

button:hover{
    opacity: 0.9;
}

li a:hover{
    color: #7FFFD4;
    opacity: 0.8;
}
